
.padre-contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en múltiples filas */
    gap: 1rem; /* Espaciado entre elementos */
  }

.containers {
    padding: 50px;
    width: 90%;
    background-color: #ffffff;
  }

h1{
    text-align: center;
    color: #000000;
}